.sectionContact {

  width: 60vw;
  &__connect{
    h3{
      font-size: 4.5rem;
    }
  }
}

.link{
  font-size: 2.5rem;
}

@media (width <= 760px) {
  .sectionContact__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
}

@media (width <= 500px) {
  .sectionContact__connect {
    h3{
      font-size: 3.0rem;
    }
  }
}