.section1 {
  min-height: 100vh;
  
  .cardHome {
    &__title {
      font-size: 6rem;
      letter-spacing: -3px;
    }
    &__sub {
      font-size: 3rem;
      overflow: hidden;
      white-space: nowrap;
      animation: appearLetters 5s steps(32, end);
    }
    @keyframes appearLetters {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  .cardHome {
    &__title {
      font-size: 4.5rem !important;
    }
    &__sub{
      font-size: 2.2rem !important;
    }
  }
}


// @media (max-width: 610px) {
//   .cardHome {
//     &__title {
//       font-size: 3rem !important;
//     }
//     &__sub{
//       font-size: 1.5rem !important;
//     }
//   }
// }

// @media (max-width: 420px) {
//   .cardHome {
//     &__title {
//       font-size: 2.2rem !important;
//     }
//     &__sub{
//       font-size: 1.1rem !important;
//     }
//   }
// }

