.sectionRickMorty{
  min-height: 90vw;
  background-color: lightgreen;

  .ejRickMorty{
    width: 60vw;
    border: 2px solid white;
    border-radius: 1rem;
    background-color: rgb(112, 173, 112)
  }
}