.sectionButton{
  button {
    border-radius: 1rem;
    border: 2px solid white;
    padding: .5rem;
    margin: 1rem;
    background-color: transparent;
    color: white;
    font-weight: bold;
  }
}